In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from pandas import Series
from statsmodels.tsa.arima_model import ARIMA
from sklearn.metrics import mean_squared_error
from math import sqrt
from statsmodels.tsa.stattools import kpss


from google.colab import files
uploaded = files.upload()

plt.style.use('seaborn')
sns.set(font_scale=2.5)

import missingno as msno

import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

/usr/local/lib/python3.6/dist-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

Saving 2015_suicide_no.csv to 2015_suicide_no.csv
Saving test_mini1.csv to test_mini1.csv
Saving train1.csv to train1.csv

In [0]:
df = pd.read_csv('./train1.csv')
df_test = pd.read_csv('./test_mini1.csv')


#df=df['year'].astype(int)
df.head()

,country,year,sex,age,suicides_no,population,suicides_100k_pop,country_year,HDI_for_year,gdp_for_year,gdp_per_capital,generation,Social support,Healthy life expectancy at birth,Positive affect,Negative affect
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,0.635,2.156625e+09,796,Generation X,NaN,NaN,NaN,NaN
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,0.635,2.156625e+09,796,Silent,NaN,NaN,NaN,NaN
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,0.635,2.156625e+09,796,Generation X,NaN,NaN,NaN,NaN
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,0.635,2.156625e+09,796,G.I. Generation,NaN,NaN,NaN,NaN
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,0.635,2.156625e+09,796,Boomers,NaN,NaN,NaN,NaN

In [0]:
from statsmodels.tsa.stattools import adfuller

def Dickey_Fuller_Test(timeseries):
    
    #Determing rolling statistics
    rolmean = timeseries.rolling(window=1).mean()
    rolstd = timeseries.rolling(window=1).std()

    #Perform Dickey-Fuller test:
    print('Results of Dickey-Fuller Test:')
    dftest = adfuller(timeseries, autolag='AIC')
    dfoutput = pd.Series(dftest[0:4], index=['Test Statistic','p-value','#Lags Used','Number of Observations Used'])
    for key,value in dftest[4].items():
        dfoutput['Critical Value (%s)'%key] = value
    print(dfoutput)

In [0]:


def kpss_test(timeseries):
    print ('Results of KPSS Test:')
    kpsstest = kpss(timeseries, regression='c')
    kpss_output = pd.Series(kpsstest[0:3], index=['Test Statistic','p-value','Lags Used'])
    for key,value in kpsstest[3].items():
        kpss_output['Critical Value (%s)'%key] = value
    print (kpss_output)

In [0]:

 
# evaluate an ARIMA model for a given order (p,d,q) and return RMSE
def evaluate_arima_model(X, arima_order):
# prepare training dataset
	X = X.astype('float32')
	train_size = int(len(X) * 0.70)
	train, test = X[0:train_size], X[train_size:]
	history = [x for x in train]
	# make predictions
	predictions = list()
	for t in range(len(test)):
		model = ARIMA(history, order=arima_order)
		# model_fit = model.fit(disp=0)
		model_fit = model.fit(trend='nc', disp=0)
		yhat = model_fit.forecast()[0]
		predictions.append(yhat)
		history.append(test[t])
	# calculate out of sample error
	mse = mean_squared_error(test, predictions)
	rmse = sqrt(mse)
	return rmse


# evaluate combinations of p, d and q values for an ARIMA model
def evaluate_models(dataset, p_values, d_values, q_values):
	dataset = dataset.astype('float32')
	best_score, best_cfg = float("inf"), None
	for p in p_values:
		for d in d_values:
			for q in q_values:
				order = (p,d,q)
				try:
					mse = evaluate_arima_model(dataset, order)
					if mse < best_score:
						best_score, best_cfg = mse, order
					print('ARIMA%s RMSE=%.3f' % (order,mse))
				except:
					continue
	print('Best ARIMA%s RMSE=%.3f' % (best_cfg, best_score))

In [0]:

from pandas import Series, DataFrame

df_predict = DataFrame(columns=('country', 'suicides_no_predicted'))
  

df['country'].unique()[0]

for i in df['country'].unique():
  df_rf=df[df['country']==i]
  

  
  suicides=df_rf[['year','suicides_no']].copy()

  suicides['year']=suicides['year'].astype(str)
  suicides['year']=pd.to_datetime(suicides['year'],format='%Y')

  suicides = suicides.groupby('year')['suicides_no'].sum().reset_index()


  suicides = suicides.set_index('year')


  suicides = suicides['suicides_no']

  if i== 'Albania' :
    Dickey_Fuller_Test(suicides)
    kpss_test(suicides)
  
  series = suicides.copy()
  # evaluate parameters
  p_values = range(0, 4)
  d_values = range(0, 2)
  q_values = range(0, 5)
  warnings.filterwarnings("ignore")
  evaluate_models(series, p_values, d_values, q_values)



  # Predicting the next five years suicides number
  history = suicides.copy()
  history=list(history.values)
  predictions = list()
  
  
  y=2015

  try:
    model = ARIMA(history, order=(2,0,0))
    model_fit = model.fit(trend='nc', disp=0)
    yhat = model_fit.forecast()[0]
                              
    print('\n For Country ',i,' For year',y, 'forecasted suicide number is',yhat,'\n')
    df_predict=df_predict.append({'country':i, 'suicides_no_predicted':yhat},ignore_index=True)

  except Exception as e : 
    #df_predict=df_predict.append({'country':i, 'suicides_no_predicted':'null' },ignore_index=True   )
    print(e)
    pass
  
df_predict

Results of Dickey-Fuller Test:
Test Statistic                 -0.619734
p-value                         0.866460
#Lags Used                      8.000000
Number of Observations Used    13.000000
Critical Value (1%)            -4.068854
Critical Value (5%)            -3.127149
Critical Value (10%)           -2.701730
dtype: float64
Results of KPSS Test:
Test Statistic           0.171043
p-value                  0.100000
Lags Used                9.000000
Critical Value (10%)     0.347000
Critical Value (5%)      0.463000
Critical Value (2.5%)    0.574000
Critical Value (1%)      0.739000
dtype: float64
ARIMA(0, 0, 1) RMSE=88.752
ARIMA(0, 0, 2) RMSE=125.335
ARIMA(0, 0, 3) RMSE=125.929
ARIMA(0, 1, 1) RMSE=89.218
ARIMA(0, 1, 2) RMSE=78.716
ARIMA(1, 0, 0) RMSE=97.664
ARIMA(1, 1, 0) RMSE=101.197
ARIMA(2, 0, 0) RMSE=98.848
ARIMA(2, 1, 0) RMSE=96.897
ARIMA(3, 0, 0) RMSE=97.186
ARIMA(3, 1, 0) RMSE=94.813
Best ARIMA(0, 1, 2) RMSE=78.716

 For Country  Albania  For year 2015 forecasted suicide number is 57.540571088240696

ARIMA(0, 0, 1) RMSE=0.462
ARIMA(0, 0, 2) RMSE=0.433
ARIMA(0, 1, 1) RMSE=0.651
ARIMA(1, 0, 0) RMSE=0.520
ARIMA(1, 1, 0) RMSE=0.810
ARIMA(1, 1, 1) RMSE=0.656
ARIMA(2, 0, 0) RMSE=0.521
ARIMA(2, 0, 1) RMSE=0.461
ARIMA(2, 1, 0) RMSE=0.494
ARIMA(2, 1, 1) RMSE=0.476
ARIMA(3, 0, 0) RMSE=0.375
ARIMA(3, 0, 1) RMSE=0.365
ARIMA(3, 1, 0) RMSE=0.492
ARIMA(3, 1, 1) RMSE=0.456
Best ARIMA(3, 0, 1) RMSE=0.365

 For Country  Antigua and Barbuda  For year 2015 forecasted suicide number is 0.0

ARIMA(0, 0, 1) RMSE=1582.641
ARIMA(0, 1, 1) RMSE=199.773
ARIMA(0, 1, 2) RMSE=177.191
ARIMA(0, 1, 3) RMSE=170.359
ARIMA(0, 1, 4) RMSE=172.901
ARIMA(1, 0, 0) RMSE=187.930
ARIMA(1, 1, 0) RMSE=206.071
ARIMA(2, 0, 0) RMSE=207.877
ARIMA(2, 1, 0) RMSE=175.959
ARIMA(3, 0, 0) RMSE=177.417
ARIMA(3, 1, 0) RMSE=178.953
ARIMA(3, 1, 1) RMSE=178.870
Best ARIMA(0, 1, 3) RMSE=170.359

 For Country  Argentina  For year 2015 forecasted suicide number is 3201.424466864143

ARIMA(0, 0, 1) RMSE=41.620
ARIMA(0, 0, 2) RMSE=20.241
ARIMA(0, 0, 3) RMSE=27.103
ARIMA(0, 0, 4) RMSE=12.248
ARIMA(0, 1, 1) RMSE=11.431
ARIMA(0, 1, 2) RMSE=12.273
ARIMA(0, 1, 3) RMSE=12.394
ARIMA(1, 0, 0) RMSE=11.572
ARIMA(1, 0, 1) RMSE=11.283
ARIMA(1, 0, 2) RMSE=35.513
ARIMA(1, 1, 0) RMSE=11.446
ARIMA(2, 0, 0) RMSE=11.274
ARIMA(2, 1, 0) RMSE=11.792
ARIMA(3, 0, 0) RMSE=11.598
ARIMA(3, 1, 0) RMSE=11.100
Best ARIMA(3, 1, 0) RMSE=11.100

 For Country  Armenia  For year 2015 forecasted suicide number is 58.688423601889205

ARIMA(0, 0, 1) RMSE=4.489
ARIMA(0, 0, 2) RMSE=3.067
ARIMA(0, 0, 3) RMSE=9.426
ARIMA(0, 1, 1) RMSE=2.498
ARIMA(1, 0, 0) RMSE=2.472
ARIMA(1, 1, 0) RMSE=3.191
ARIMA(1, 1, 1) RMSE=2.661
ARIMA(2, 0, 0) RMSE=3.135
ARIMA(2, 1, 0) RMSE=3.358
ARIMA(3, 0, 0) RMSE=3.316
ARIMA(3, 1, 0) RMSE=3.563
Best ARIMA(1, 0, 0) RMSE=2.472

 For Country  Aruba  For year 2015 forecasted suicide number is 7.601215537711595

ARIMA(0, 0, 1) RMSE=1233.076
ARIMA(0, 0, 2) RMSE=829.987
ARIMA(0, 0, 3) RMSE=435.216
ARIMA(0, 0, 4) RMSE=450.043
ARIMA(0, 1, 1) RMSE=128.779
ARIMA(0, 1, 2) RMSE=130.157
ARIMA(0, 1, 3) RMSE=132.072
ARIMA(0, 1, 4) RMSE=129.260
ARIMA(1, 0, 0) RMSE=130.696
ARIMA(1, 1, 0) RMSE=128.730
ARIMA(2, 1, 0) RMSE=130.465
ARIMA(2, 1, 1) RMSE=141.110
ARIMA(3, 1, 0) RMSE=129.901
Best ARIMA(1, 1, 0) RMSE=128.730

 For Country  Australia  For year 2015 forecasted suicide number is 2900.3916313004665

ARIMA(0, 0, 1) RMSE=639.758
ARIMA(0, 1, 1) RMSE=37.701
ARIMA(0, 1, 2) RMSE=36.342
ARIMA(0, 1, 3) RMSE=36.142
ARIMA(1, 0, 0) RMSE=37.112
ARIMA(1, 0, 1) RMSE=1209.519
ARIMA(1, 0, 2) RMSE=631.001
ARIMA(1, 0, 3) RMSE=376.366
ARIMA(1, 0, 4) RMSE=249.865
ARIMA(1, 1, 0) RMSE=37.727
ARIMA(2, 0, 0) RMSE=37.319
ARIMA(2, 0, 1) RMSE=39.137
ARIMA(2, 1, 0) RMSE=36.222
ARIMA(2, 1, 1) RMSE=37.508
ARIMA(3, 0, 0) RMSE=35.846
ARIMA(3, 0, 2) RMSE=39.916
ARIMA(3, 1, 0) RMSE=35.734
Best ARIMA(3, 1, 0) RMSE=35.734

 For Country  Austria  For year 2015 forecasted suicide number is 1312.8107931081768

ARIMA(0, 0, 1) RMSE=167.490
ARIMA(0, 1, 1) RMSE=165.632
ARIMA(1, 0, 0) RMSE=147.192
ARIMA(1, 1, 0) RMSE=172.478
ARIMA(1, 1, 1) RMSE=129.469
ARIMA(2, 0, 0) RMSE=151.322
ARIMA(2, 1, 0) RMSE=172.017
Best ARIMA(1, 1, 1) RMSE=129.469

 For Country  Azerbaijan  For year 2015 forecasted suicide number is 63.752063929959455

ARIMA(0, 0, 1) RMSE=4.434
ARIMA(0, 0, 2) RMSE=4.069
ARIMA(0, 0, 3) RMSE=4.128
ARIMA(0, 1, 1) RMSE=2.744
ARIMA(0, 1, 2) RMSE=2.737
ARIMA(1, 0, 0) RMSE=3.381
ARIMA(1, 1, 0) RMSE=2.797
ARIMA(2, 0, 0) RMSE=3.087
ARIMA(2, 1, 0) RMSE=2.725
ARIMA(3, 0, 0) RMSE=2.963
ARIMA(3, 1, 0) RMSE=2.872
Best ARIMA(2, 1, 0) RMSE=2.725

 For Country  Bahamas  For year 2015 forecasted suicide number is 4.0512123509378615

ARIMA(0, 0, 1) RMSE=11.856
ARIMA(0, 1, 1) RMSE=9.576
ARIMA(0, 1, 2) RMSE=8.963
ARIMA(1, 0, 0) RMSE=8.127
ARIMA(1, 1, 0) RMSE=9.075
ARIMA(2, 0, 0) RMSE=8.504
ARIMA(2, 1, 0) RMSE=8.937
ARIMA(3, 0, 0) RMSE=8.395
ARIMA(3, 1, 0) RMSE=9.431
Best ARIMA(1, 0, 0) RMSE=8.127

 For Country  Bahrain  For year 2015 forecasted suicide number is 8.375135803839742

ARIMA(0, 0, 1) RMSE=5.814
ARIMA(0, 0, 4) RMSE=4.634
ARIMA(0, 1, 1) RMSE=4.861
ARIMA(0, 1, 2) RMSE=5.060
ARIMA(0, 1, 3) RMSE=5.622
ARIMA(1, 0, 0) RMSE=4.487
ARIMA(1, 0, 1) RMSE=4.696
ARIMA(1, 0, 2) RMSE=5.345
ARIMA(1, 0, 3) RMSE=5.540
ARIMA(1, 0, 4) RMSE=5.351
ARIMA(1, 1, 0) RMSE=4.927
ARIMA(2, 0, 0) RMSE=4.762
ARIMA(2, 0, 1) RMSE=4.760
ARIMA(2, 0, 4) RMSE=6.023
ARIMA(2, 1, 0) RMSE=5.079
ARIMA(3, 0, 0) RMSE=4.919
ARIMA(3, 0, 1) RMSE=5.007
ARIMA(3, 1, 0) RMSE=5.351
Best ARIMA(1, 0, 0) RMSE=4.487

 For Country  Barbados  For year 2015 forecasted suicide number is 0.0

ARIMA(0, 0, 1) RMSE=1100.060
ARIMA(0, 0, 3) RMSE=541.360
ARIMA(0, 1, 1) RMSE=365.599
ARIMA(0, 1, 2) RMSE=469.795
ARIMA(0, 1, 3) RMSE=412.583
ARIMA(0, 1, 4) RMSE=407.207
ARIMA(1, 0, 0) RMSE=353.546
ARIMA(1, 0, 2) RMSE=460.925
ARIMA(1, 1, 0) RMSE=372.839
ARIMA(2, 0, 0) RMSE=364.039
ARIMA(2, 1, 0) RMSE=386.324
ARIMA(3, 0, 0) RMSE=394.895
ARIMA(3, 1, 0) RMSE=362.178
Best ARIMA(1, 0, 0) RMSE=353.546

 For Country  Belarus  For year 2015 forecasted suicide number is 1696.679549168678

ARIMA(0, 0, 1) RMSE=956.194
ARIMA(0, 0, 2) RMSE=489.339
ARIMA(0, 0, 3) RMSE=337.709
ARIMA(0, 0, 4) RMSE=271.555
ARIMA(0, 1, 1) RMSE=83.722
ARIMA(0, 1, 2) RMSE=83.133
ARIMA(0, 1, 3) RMSE=85.061
ARIMA(0, 1, 4) RMSE=89.473
ARIMA(1, 0, 0) RMSE=82.433
ARIMA(1, 0, 1) RMSE=83.291
ARIMA(1, 0, 2) RMSE=82.794
ARIMA(1, 1, 0) RMSE=83.747
ARIMA(2, 0, 0) RMSE=83.281
ARIMA(2, 1, 0) RMSE=81.640
ARIMA(2, 1, 1) RMSE=77.331
ARIMA(3, 0, 0) RMSE=81.198
ARIMA(3, 0, 1) RMSE=80.355
ARIMA(3, 1, 0) RMSE=79.661
ARIMA(3, 1, 1) RMSE=85.568
ARIMA(3, 1, 2) RMSE=84.237
Best ARIMA(2, 1, 1) RMSE=77.331

 For Country  Belgium  For year 2015 forecasted suicide number is 1895.8762519309737

ARIMA(0, 0, 1) RMSE=12.759
ARIMA(0, 0, 2) RMSE=13.565
ARIMA(0, 1, 1) RMSE=8.126
ARIMA(0, 1, 2) RMSE=8.833
ARIMA(1, 0, 0) RMSE=8.685
ARIMA(1, 1, 0) RMSE=8.398
ARIMA(2, 1, 0) RMSE=8.462
ARIMA(2, 1, 1) RMSE=8.966
ARIMA(3, 1, 0) RMSE=8.698
ARIMA(3, 1, 1) RMSE=8.811
Best ARIMA(0, 1, 1) RMSE=8.126

 For Country  Belize  For year 2015 forecasted suicide number is 20.559774535174256

Best ARIMANone RMSE=inf
Insufficient degrees of freedom to estimate
ARIMA(0, 0, 1) RMSE=4766.516
ARIMA(0, 1, 1) RMSE=215.924
ARIMA(0, 1, 2) RMSE=213.780
ARIMA(0, 1, 3) RMSE=212.588
ARIMA(0, 1, 4) RMSE=193.284
ARIMA(1, 0, 0) RMSE=270.166
ARIMA(1, 1, 0) RMSE=200.958
ARIMA(1, 1, 1) RMSE=163.017
ARIMA(2, 0, 0) RMSE=205.614
ARIMA(2, 1, 0) RMSE=201.961
ARIMA(2, 1, 1) RMSE=208.101
ARIMA(3, 1, 0) RMSE=167.201
Best ARIMA(1, 1, 1) RMSE=163.017

 For Country  Brazil  For year 2015 forecasted suicide number is 10666.258161592257

ARIMA(0, 0, 1) RMSE=550.726
ARIMA(0, 0, 2) RMSE=261.131
ARIMA(0, 0, 3) RMSE=204.597
ARIMA(0, 1, 1) RMSE=74.227
ARIMA(0, 1, 2) RMSE=70.707
ARIMA(0, 1, 3) RMSE=85.971
ARIMA(0, 1, 4) RMSE=78.176
ARIMA(1, 0, 0) RMSE=78.042
ARIMA(1, 0, 1) RMSE=73.327
ARIMA(1, 0, 2) RMSE=69.778
ARIMA(1, 0, 3) RMSE=84.896
ARIMA(1, 1, 0) RMSE=71.668
ARIMA(1, 1, 1) RMSE=62.778
ARIMA(1, 1, 2) RMSE=67.983
ARIMA(1, 1, 3) RMSE=76.768
ARIMA(2, 0, 0) RMSE=70.707
ARIMA(2, 0, 1) RMSE=61.657
ARIMA(2, 1, 0) RMSE=66.711
ARIMA(2, 1, 1) RMSE=63.323
ARIMA(2, 1, 2) RMSE=67.160
ARIMA(3, 0, 0) RMSE=65.697
ARIMA(3, 0, 1) RMSE=62.204
ARIMA(3, 1, 0) RMSE=74.813
ARIMA(3, 1, 1) RMSE=71.642
ARIMA(3, 1, 2) RMSE=75.827
Best ARIMA(2, 0, 1) RMSE=61.657

 For Country  Bulgaria  For year 2015 forecasted suicide number is 721.5944059180363

Best ARIMANone RMSE=inf
Insufficient degrees of freedom to estimate
ARIMA(0, 0, 1) RMSE=2027.837
ARIMA(0, 0, 2) RMSE=1050.105
ARIMA(0, 0, 3) RMSE=871.929
ARIMA(0, 0, 4) RMSE=551.350
ARIMA(0, 1, 1) RMSE=156.424
ARIMA(0, 1, 2) RMSE=159.922
ARIMA(1, 0, 0) RMSE=162.264
ARIMA(1, 1, 0) RMSE=157.195
ARIMA(1, 1, 1) RMSE=158.834
ARIMA(2, 0, 0) RMSE=158.844
ARIMA(2, 1, 0) RMSE=160.160
ARIMA(2, 1, 1) RMSE=166.831
ARIMA(3, 0, 0) RMSE=158.625
ARIMA(3, 1, 0) RMSE=160.824
Best ARIMA(0, 1, 1) RMSE=156.424

 For Country  Canada  For year 2015 forecasted suicide number is 4001.5778285783463

ARIMA(0, 0, 1) RMSE=962.489
ARIMA(0, 1, 1) RMSE=127.028
ARIMA(0, 1, 2) RMSE=130.243
ARIMA(0, 1, 3) RMSE=128.595
ARIMA(0, 1, 4) RMSE=160.306
ARIMA(1, 0, 0) RMSE=127.429
ARIMA(1, 1, 0) RMSE=126.906
ARIMA(2, 0, 0) RMSE=126.029
ARIMA(2, 1, 0) RMSE=130.936
ARIMA(3, 0, 0) RMSE=135.877
ARIMA(3, 1, 0) RMSE=131.998
ARIMA(3, 1, 1) RMSE=139.778
Best ARIMA(2, 0, 0) RMSE=126.029

 For Country  Chile  For year 2015 forecasted suicide number is 1790.2870318149319

ARIMA(0, 0, 1) RMSE=1181.156
ARIMA(0, 1, 1) RMSE=72.960
ARIMA(0, 1, 2) RMSE=76.068
ARIMA(0, 1, 3) RMSE=77.479
ARIMA(0, 1, 4) RMSE=81.723
ARIMA(1, 0, 0) RMSE=74.981
ARIMA(1, 1, 0) RMSE=75.342
ARIMA(2, 1, 0) RMSE=79.654
ARIMA(2, 1, 1) RMSE=82.752
ARIMA(2, 1, 2) RMSE=103.201
ARIMA(3, 0, 0) RMSE=88.171
ARIMA(3, 1, 0) RMSE=80.240
ARIMA(3, 1, 1) RMSE=81.168
ARIMA(3, 1, 2) RMSE=76.198
Best ARIMA(0, 1, 1) RMSE=72.960

 For Country  Colombia  For year 2015 forecasted suicide number is 2122.4593158436546

ARIMA(0, 0, 1) RMSE=196.864
ARIMA(0, 1, 1) RMSE=37.819
ARIMA(0, 1, 2) RMSE=41.081
ARIMA(1, 0, 0) RMSE=42.778
ARIMA(1, 1, 0) RMSE=40.574
ARIMA(2, 1, 0) RMSE=42.506
ARIMA(2, 1, 1) RMSE=42.895
ARIMA(3, 0, 0) RMSE=42.455
ARIMA(3, 1, 0) RMSE=43.521
ARIMA(3, 1, 2) RMSE=54.806
Best ARIMA(0, 1, 1) RMSE=37.819

 For Country  Costa Rica  For year 2015 forecasted suicide number is 280.2114248508133

ARIMA(0, 0, 1) RMSE=374.942
ARIMA(0, 1, 1) RMSE=50.440
ARIMA(0, 1, 2) RMSE=49.679
ARIMA(0, 1, 3) RMSE=50.282
ARIMA(1, 0, 0) RMSE=56.220
ARIMA(1, 1, 0) RMSE=48.195
ARIMA(2, 0, 0) RMSE=48.035
ARIMA(2, 1, 0) RMSE=47.874
ARIMA(3, 0, 0) RMSE=47.721
ARIMA(3, 1, 0) RMSE=48.458
Best ARIMA(3, 0, 0) RMSE=47.721

 For Country  Croatia  For year 2015 forecasted suicide number is 709.1342061625485

ARIMA(0, 0, 1) RMSE=748.867
ARIMA(0, 1, 1) RMSE=57.419
ARIMA(0, 1, 2) RMSE=56.417
ARIMA(1, 0, 0) RMSE=61.279
ARIMA(1, 0, 1) RMSE=58.281
ARIMA(1, 0, 2) RMSE=56.971
ARIMA(1, 0, 3) RMSE=445.838
ARIMA(1, 0, 4) RMSE=217.696
ARIMA(1, 1, 0) RMSE=58.135
ARIMA(2, 0, 0) RMSE=59.066
ARIMA(2, 0, 1) RMSE=76.122
ARIMA(2, 1, 0) RMSE=63.534
ARIMA(3, 0, 0) RMSE=64.533
ARIMA(3, 1, 0) RMSE=57.066
Best ARIMA(0, 1, 2) RMSE=56.417

 For Country  Cuba  For year 2015 forecasted suicide number is 1434.1835201483289

ARIMA(0, 0, 1) RMSE=26.591
ARIMA(0, 0, 2) RMSE=16.943
ARIMA(0, 1, 1) RMSE=6.559
ARIMA(1, 0, 0) RMSE=7.571
ARIMA(1, 1, 0) RMSE=6.694
Best ARIMA(0, 1, 1) RMSE=6.559

 For Country  Cyprus  For year 2015 forecasted suicide number is 43.02938474962095

ARIMA(0, 0, 1) RMSE=766.605
ARIMA(0, 0, 2) RMSE=385.790
ARIMA(0, 0, 3) RMSE=281.224
ARIMA(0, 0, 4) RMSE=112.203
ARIMA(0, 1, 1) RMSE=72.604
ARIMA(0, 1, 2) RMSE=74.771
ARIMA(0, 1, 3) RMSE=74.758
ARIMA(1, 0, 0) RMSE=67.298
ARIMA(1, 0, 1) RMSE=72.854
ARIMA(1, 0, 2) RMSE=667.788
ARIMA(1, 0, 3) RMSE=410.698
ARIMA(1, 1, 0) RMSE=75.135
ARIMA(2, 0, 0) RMSE=75.370
ARIMA(2, 0, 1) RMSE=77.072
ARIMA(2, 1, 0) RMSE=76.611
ARIMA(3, 0, 0) RMSE=76.852
ARIMA(3, 0, 1) RMSE=77.763
ARIMA(3, 0, 2) RMSE=92.082
ARIMA(3, 1, 0) RMSE=77.490
Best ARIMA(1, 0, 0) RMSE=67.298

 For Country  Czech Republic  For year 2015 forecasted suicide number is 1496.0864615615171

ARIMA(0, 0, 1) RMSE=319.728
ARIMA(0, 0, 2) RMSE=194.821
ARIMA(0, 0, 3) RMSE=137.661
ARIMA(0, 0, 4) RMSE=112.425
ARIMA(0, 1, 1) RMSE=46.281
ARIMA(0, 1, 2) RMSE=69.674
ARIMA(0, 1, 3) RMSE=60.059
ARIMA(0, 1, 4) RMSE=49.998
ARIMA(1, 0, 0) RMSE=43.475
ARIMA(1, 1, 0) RMSE=49.263
ARIMA(2, 0, 0) RMSE=49.320
ARIMA(2, 1, 0) RMSE=59.247
ARIMA(3, 0, 0) RMSE=63.202
ARIMA(3, 1, 0) RMSE=47.096
Best ARIMA(1, 0, 0) RMSE=43.475

 For Country  Denmark  For year 2015 forecasted suicide number is 628.2088812637712

Best ARIMANone RMSE=inf
Insufficient degrees of freedom to estimate
ARIMA(0, 0, 1) RMSE=502.262
ARIMA(0, 1, 1) RMSE=113.096
ARIMA(0, 1, 2) RMSE=111.613
ARIMA(0, 1, 3) RMSE=112.842
ARIMA(0, 1, 4) RMSE=117.912
ARIMA(1, 0, 0) RMSE=115.656
ARIMA(1, 1, 0) RMSE=112.893
ARIMA(2, 1, 0) RMSE=114.807
ARIMA(3, 0, 0) RMSE=115.108
ARIMA(3, 1, 0) RMSE=117.451
Best ARIMA(0, 1, 2) RMSE=111.613
SVD did not converge
ARIMA(0, 0, 1) RMSE=290.733
ARIMA(0, 0, 2) RMSE=135.965
ARIMA(0, 0, 3) RMSE=138.504
ARIMA(0, 0, 4) RMSE=62.469
ARIMA(0, 1, 1) RMSE=51.243
ARIMA(0, 1, 2) RMSE=52.654
ARIMA(1, 0, 0) RMSE=69.294
ARIMA(1, 1, 0) RMSE=65.914
ARIMA(2, 0, 0) RMSE=66.046
ARIMA(2, 1, 0) RMSE=65.979
ARIMA(3, 1, 0) RMSE=38.534
Best ARIMA(3, 1, 0) RMSE=38.534

 For Country  El Salvador  For year 2015 forecasted suicide number is 422.4322751885212

ARIMA(0, 0, 1) RMSE=128.926
ARIMA(0, 0, 3) RMSE=52.627
ARIMA(0, 0, 4) RMSE=72.683
ARIMA(0, 1, 1) RMSE=27.454
ARIMA(0, 1, 2) RMSE=28.763
ARIMA(0, 1, 3) RMSE=29.899
ARIMA(0, 1, 4) RMSE=40.775
ARIMA(1, 0, 0) RMSE=26.179
ARIMA(1, 0, 1) RMSE=189.180
ARIMA(1, 1, 0) RMSE=28.785
ARIMA(2, 0, 0) RMSE=28.691
ARIMA(2, 1, 0) RMSE=30.354
ARIMA(3, 0, 0) RMSE=30.221
ARIMA(3, 1, 0) RMSE=28.155
Best ARIMA(1, 0, 0) RMSE=26.179

 For Country  Estonia  For year 2015 forecasted suicide number is 242.11724717508537

ARIMA(0, 0, 1) RMSE=29.637
ARIMA(0, 0, 2) RMSE=28.930
ARIMA(0, 0, 3) RMSE=24.874
ARIMA(0, 0, 4) RMSE=22.517
ARIMA(0, 1, 1) RMSE=11.121
ARIMA(1, 0, 0) RMSE=15.592
ARIMA(1, 1, 0) RMSE=9.934
ARIMA(2, 0, 0) RMSE=11.091
ARIMA(2, 1, 0) RMSE=11.083
Best ARIMA(1, 1, 0) RMSE=9.934

 For Country  Fiji  For year 2015 forecasted suicide number is 34.316489447731676

ARIMA(0, 0, 1) RMSE=452.096
ARIMA(0, 1, 1) RMSE=56.662
ARIMA(0, 1, 2) RMSE=52.079
ARIMA(0, 1, 3) RMSE=52.511
ARIMA(0, 1, 4) RMSE=60.615
ARIMA(1, 0, 0) RMSE=57.296
ARIMA(1, 1, 0) RMSE=55.852
ARIMA(2, 0, 0) RMSE=55.415
ARIMA(2, 1, 0) RMSE=53.824
ARIMA(3, 0, 0) RMSE=53.433
ARIMA(3, 1, 0) RMSE=52.275
Best ARIMA(0, 1, 2) RMSE=52.079

 For Country  Finland  For year 2015 forecasted suicide number is 811.9729301059067

ARIMA(0, 0, 1) RMSE=4844.866
ARIMA(0, 1, 1) RMSE=368.879
ARIMA(0, 1, 2) RMSE=351.770
ARIMA(0, 1, 3) RMSE=414.969
ARIMA(0, 1, 4) RMSE=435.038
ARIMA(1, 0, 0) RMSE=368.690
ARIMA(1, 0, 1) RMSE=366.456
ARIMA(1, 0, 2) RMSE=349.032
ARIMA(1, 0, 3) RMSE=2685.303
ARIMA(1, 0, 4) RMSE=2021.876
ARIMA(1, 1, 0) RMSE=368.040
ARIMA(2, 0, 0) RMSE=365.597
ARIMA(2, 0, 2) RMSE=386.653
ARIMA(2, 1, 0) RMSE=359.219
ARIMA(3, 0, 0) RMSE=356.572
ARIMA(3, 0, 2) RMSE=384.588
ARIMA(3, 0, 3) RMSE=384.183
ARIMA(3, 1, 0) RMSE=359.924
ARIMA(3, 1, 1) RMSE=366.144
ARIMA(3, 1, 2) RMSE=373.471
Best ARIMA(1, 0, 2) RMSE=349.032

 For Country  France  For year 2015 forecasted suicide number is 8801.217702022199

ARIMA(0, 0, 1) RMSE=99.688
ARIMA(0, 0, 2) RMSE=87.543
ARIMA(0, 0, 3) RMSE=98.806
ARIMA(0, 0, 4) RMSE=79.430
ARIMA(0, 1, 1) RMSE=46.319
ARIMA(1, 0, 0) RMSE=52.594
ARIMA(1, 1, 0) RMSE=54.569
ARIMA(2, 0, 0) RMSE=55.397
ARIMA(2, 1, 0) RMSE=52.656
ARIMA(3, 0, 0) RMSE=53.072
ARIMA(3, 1, 0) RMSE=55.839
Best ARIMA(0, 1, 1) RMSE=46.319

 For Country  Georgia  For year 2015 forecasted suicide number is 178.18434012989337

ARIMA(0, 0, 1) RMSE=4833.597
ARIMA(0, 1, 1) RMSE=222.845
ARIMA(0, 1, 2) RMSE=225.762
ARIMA(0, 1, 3) RMSE=255.482
ARIMA(1, 0, 0) RMSE=248.352
ARIMA(1, 1, 0) RMSE=232.609
ARIMA(2, 0, 0) RMSE=234.553
ARIMA(2, 1, 0) RMSE=235.659
ARIMA(3, 0, 0) RMSE=237.555
ARIMA(3, 1, 0) RMSE=261.821
Best ARIMA(0, 1, 1) RMSE=222.845

 For Country  Germany  For year 2015 forecasted suicide number is 10257.77045186148

ARIMA(0, 0, 1) RMSE=234.044
ARIMA(0, 0, 2) RMSE=180.203
ARIMA(0, 0, 3) RMSE=114.789
ARIMA(0, 0, 4) RMSE=88.301
ARIMA(0, 1, 1) RMSE=57.121
ARIMA(0, 1, 2) RMSE=55.095
ARIMA(1, 0, 0) RMSE=47.140
ARIMA(1, 1, 0) RMSE=52.540
ARIMA(2, 0, 0) RMSE=52.717
ARIMA(2, 1, 0) RMSE=54.028
ARIMA(3, 0, 0) RMSE=54.572
ARIMA(3, 1, 0) RMSE=54.437
Best ARIMA(1, 0, 0) RMSE=47.140

 For Country  Greece  For year 2015 forecasted suicide number is 556.1537550455629

ARIMA(0, 0, 1) RMSE=1.461
ARIMA(0, 0, 2) RMSE=0.940
ARIMA(0, 0, 3) RMSE=1.975
ARIMA(0, 1, 1) RMSE=1.556
ARIMA(0, 1, 2) RMSE=1.556
ARIMA(1, 0, 0) RMSE=1.272
ARIMA(1, 1, 0) RMSE=1.317
ARIMA(2, 0, 0) RMSE=1.057
ARIMA(2, 0, 1) RMSE=1.273
ARIMA(2, 1, 0) RMSE=1.366
ARIMA(3, 0, 0) RMSE=0.967
Best ARIMA(0, 0, 2) RMSE=0.940

 For Country  Grenada  For year 2015 forecasted suicide number is 0.0

ARIMA(0, 0, 1) RMSE=215.192
ARIMA(0, 1, 1) RMSE=91.238
ARIMA(0, 1, 2) RMSE=95.940
ARIMA(1, 0, 0) RMSE=87.203
ARIMA(1, 1, 0) RMSE=88.589
ARIMA(2, 0, 0) RMSE=90.605
ARIMA(2, 1, 0) RMSE=100.944
ARIMA(2, 1, 1) RMSE=102.793
ARIMA(3, 0, 0) RMSE=101.357
ARIMA(3, 1, 0) RMSE=103.141
ARIMA(3, 1, 1) RMSE=100.145
Best ARIMA(1, 0, 0) RMSE=87.203
SVD did not converge
ARIMA(0, 0, 1) RMSE=111.624
ARIMA(0, 1, 1) RMSE=25.054
ARIMA(0, 1, 2) RMSE=24.413
ARIMA(0, 1, 3) RMSE=25.181
ARIMA(0, 1, 4) RMSE=26.026
ARIMA(1, 0, 0) RMSE=25.937
ARIMA(1, 1, 0) RMSE=24.503
ARIMA(2, 1, 0) RMSE=25.095
ARIMA(3, 1, 0) RMSE=24.923
Best ARIMA(0, 1, 2) RMSE=24.413

 For Country  Guyana  For year 2015 forecasted suicide number is 204.59236526599244

ARIMA(0, 0, 1) RMSE=1129.824
ARIMA(0, 1, 1) RMSE=106.032
ARIMA(0, 1, 2) RMSE=94.455
ARIMA(0, 1, 4) RMSE=132.726
ARIMA(1, 0, 0) RMSE=113.695
ARIMA(1, 1, 0) RMSE=100.322
ARIMA(2, 0, 0) RMSE=98.935
ARIMA(2, 1, 0) RMSE=100.998
ARIMA(3, 0, 0) RMSE=99.853
ARIMA(3, 1, 0) RMSE=98.676
Best ARIMA(0, 1, 2) RMSE=94.455

 For Country  Hungary  For year 2015 forecasted suicide number is 1870.2637355491092

ARIMA(0, 0, 1) RMSE=24.817
ARIMA(0, 0, 2) RMSE=19.243
ARIMA(0, 0, 3) RMSE=16.288
ARIMA(0, 0, 4) RMSE=15.085
ARIMA(0, 1, 1) RMSE=8.210
ARIMA(0, 1, 2) RMSE=8.198
ARIMA(1, 0, 0) RMSE=9.380
ARIMA(1, 1, 0) RMSE=8.484
ARIMA(2, 0, 0) RMSE=8.640
ARIMA(2, 1, 0) RMSE=7.631
ARIMA(2, 1, 1) RMSE=8.116
ARIMA(3, 0, 0) RMSE=7.797
ARIMA(3, 1, 0) RMSE=7.851
ARIMA(3, 1, 1) RMSE=9.298
Best ARIMA(2, 1, 0) RMSE=7.631

 For Country  Iceland  For year 2015 forecasted suicide number is 45.01247685000037

ARIMA(0, 0, 1) RMSE=251.933
ARIMA(0, 0, 2) RMSE=130.800
ARIMA(0, 0, 3) RMSE=132.365
ARIMA(0, 1, 1) RMSE=36.032
ARIMA(0, 1, 2) RMSE=37.505
ARIMA(0, 1, 3) RMSE=35.088
ARIMA(0, 1, 4) RMSE=46.249
ARIMA(1, 0, 0) RMSE=37.237
ARIMA(1, 1, 0) RMSE=36.660
ARIMA(2, 1, 0) RMSE=35.222
ARIMA(2, 1, 1) RMSE=34.641
ARIMA(3, 0, 0) RMSE=35.181
ARIMA(3, 1, 0) RMSE=34.596
Best ARIMA(3, 1, 0) RMSE=34.596

 For Country  Ireland  For year 2015 forecasted suicide number is 486.18525689337935

ARIMA(0, 0, 1) RMSE=212.032
ARIMA(0, 0, 2) RMSE=135.186
ARIMA(0, 0, 3) RMSE=84.211
ARIMA(0, 0, 4) RMSE=82.093
ARIMA(0, 1, 1) RMSE=51.877
ARIMA(0, 1, 3) RMSE=55.008
ARIMA(1, 0, 0) RMSE=50.408
ARIMA(1, 1, 0) RMSE=52.917
ARIMA(1, 1, 1) RMSE=54.712
ARIMA(2, 1, 0) RMSE=54.779
ARIMA(2, 1, 1) RMSE=54.966
ARIMA(3, 1, 0) RMSE=61.025
ARIMA(3, 1, 1) RMSE=59.607
Best ARIMA(1, 0, 0) RMSE=50.408

 For Country  Israel  For year 2015 forecasted suicide number is 376.57205188657554

ARIMA(0, 0, 1) RMSE=1988.113
ARIMA(0, 1, 1) RMSE=89.267
ARIMA(0, 1, 2) RMSE=89.206
ARIMA(0, 1, 3) RMSE=103.607
ARIMA(0, 1, 4) RMSE=106.224
ARIMA(1, 0, 0) RMSE=101.396
ARIMA(1, 0, 1) RMSE=90.176
ARIMA(1, 0, 2) RMSE=90.244
ARIMA(1, 1, 0) RMSE=91.609
ARIMA(1, 1, 1) RMSE=89.383
ARIMA(2, 0, 0) RMSE=92.611
ARIMA(2, 0, 1) RMSE=90.354
ARIMA(2, 0, 2) RMSE=96.755

                         country  suicides_no_predicted
0                        Albania              57.540571
1            Antigua and Barbuda               0.000000
2                      Argentina            3201.424467
3                        Armenia              58.688424
4                          Aruba               7.601216
5                      Australia            2900.391631
6                        Austria            1312.810793
7                     Azerbaijan              63.752064
8                        Bahamas               4.051212
9                        Bahrain               8.375136
10                      Barbados               0.000000
11                       Belarus            1696.679549
12                       Belgium            1895.876252
13                        Belize              20.559775
14                        Brazil           10666.258162
15                      Bulgaria             721.594406
16                        Canada            4001.577829
17                         Chile            1790.287032
18                      Colombia            2122.459316
19                    Costa Rica             280.211425
20                       Croatia             709.134206
21                          Cuba            1434.183520
22                        Cyprus              43.029385
23                Czech Republic            1496.086462
24                       Denmark             628.208881
25                   El Salvador             422.432275
26                       Estonia             242.117247
27                          Fiji              34.316489
28                       Finland             811.972930
29                        France            8801.217702
..                           ...                    ...
60                        Poland            5890.119863
61                      Portugal            1242.677476
62                   Puerto Rico             227.337163
63                         Qatar              48.762797
64             Republic of Korea           13669.078478
65                       Romania            2215.557551
66            Russian Federation           25133.503549
67                   Saint Lucia              13.158223
68  Saint Vincent and Grenadines               0.945031
69                        Serbia            1148.063233
70                    Seychelles               6.676542
71                     Singapore             353.372345
72                      Slovakia             527.168109
73                      Slovenia             403.687518
74                  South Africa             580.314624
75                         Spain            3912.273221
76                     Sri Lanka            4084.753295
77                      Suriname             128.870865
78                        Sweden            1162.194798
79                   Switzerland            1034.989118
80                      Thailand            3918.575712
81           Trinidad and Tobago             146.616407
82                        Turkey            1781.937164
83                  Turkmenistan             119.021763
84                       Ukraine            7521.617033
85          United Arab Emirates             116.648166
86                United Kingdom            4800.777786
87                 United States           43785.270822
88                       Uruguay             564.840540
89                    Uzbekistan            2149.404615

[90 rows x 2 columns]

In [0]:

from google.colab import files
uploaded = files.upload()



answer= pd.read_csv('./2015_suicide_no.csv')



merge_answer= pd.merge(df_predict, answer , on ='country')

merge_answer['suicides_no_predicted']=merge_answer['suicides_no_predicted'].astype(float)

merge_answer['error']=merge_answer['suicides_no']-merge_answer['suicides_no_predicted']
merge_answer['error_Abs'] = abs(merge_answer['error'])
merge_answer      

merge_answer=merge_answer.dropna()
merge_answer

,country,suicides_no_predicted,suicides_no,error,error_Abs
0,Antigua and Barbuda,0.000000,1,1.000000,1.000000
1,Argentina,3201.424467,3073,-128.424467,128.424467
2,Armenia,58.688424,74,15.311576,15.311576
3,Australia,2900.391631,3027,126.608369,126.608369
4,Austria,1312.810793,1251,-61.810793,61.810793
5,Belgium,1895.876252,1867,-28.876252,28.876252
6,Belize,20.559775,26,5.440225,5.440225
7,Brazil,10666.258162,11163,496.741838,496.741838
8,Chile,1790.287032,1838,47.712968,47.712968
9,Colombia,2122.459316,2332,209.540684,209.540684
10,Croatia,709.134206,739,29.865794,29.865794
11,Cuba,1434.183520,1511,76.816480,76.816480
12,Cyprus,43.029385,40,-3.029385,3.029385
13,Czech Republic,1496.086462,1387,-109.086462,109.086462
14,Denmark,628.208881,564,-64.208881,64.208881
15,Estonia,242.117247,195,-47.117247,47.117247
16,Finland,811.972930,731,-80.972930,80.972930
17,Georgia,178.184340,192,13.815660,13.815660
18,Germany,10257.770452,10088,-169.770452,169.770452
19,Greece,556.153755,529,-27.153755,27.153755
20,Grenada,0.000000,0,0.000000,0.000000
21,Hungary,1870.263736,1868,-2.263736,2.263736
22,Iceland,45.012477,40,-5.012477,5.012477
23,Israel,376.572052,342,-34.572052,34.572052
24,Italy,4092.352755,3988,-104.352755,104.352755
25,Japan,24118.388442,23092,-1026.388442,1026.388442
26,Kazakhstan,3092.805987,2872,-220.805987,220.805987
27,Kyrgyzstan,454.965466,417,-37.965466,37.965466
28,Latvia,380.533319,387,6.466681,6.466681
29,Lithuania,938.341702,896,-42.341702,42.341702
30,Luxembourg,52.764005,64,11.235995,11.235995
31,Mauritius,107.692117,104,-3.692117,3.692117
32,Mexico,6247.229766,6234,-13.229766,13.229766
33,Netherlands,1839.994729,1873,33.005271,33.005271
34,Nicaragua,342.494169,315,-27.494169,27.494169
35,Norway,548.375314,590,41.624686,41.624686
36,Panama,145.819273,110,-35.819273,35.819273
37,Poland,5890.119863,5420,-470.119863,470.119863
38,Puerto Rico,227.337163,226,-1.337163,1.337163
39,Qatar,48.762797,66,17.237203,17.237203
40,Republic of Korea,13669.078478,13510,-159.078478,159.078478
41,Romania,2215.557551,2228,12.442449,12.442449
42,Russian Federation,25133.503549,25432,298.496451,298.496451
43,Saint Vincent and Grenadines,0.945031,3,2.054969,2.054969
44,Serbia,1148.063233,1062,-86.063233,86.063233
45,Seychelles,6.676542,7,0.323458,0.323458
46,Singapore,353.372345,329,-24.372345,24.372345
47,Slovenia,403.687518,422,18.312482,18.312482
48,South Africa,580.314624,482,-98.314624,98.314624
49,Spain,3912.273221,3604,-308.273221,308.273221
50,Sweden,1162.194798,1182,19.805202,19.805202
51,Switzerland,1034.989118,1073,38.010882,38.010882
52,Thailand,3918.575712,4205,286.424288,286.424288
53,Turkey,1781.937164,1532,-249.937164,249.937164
54,Turkmenistan,119.021763,133,13.978237,13.978237
55,Ukraine,7521.617033,7574,52.382967,52.382967
56,United Kingdom,4800.777786,4910,109.222214,109.222214
57,United States,43785.270822,44189,403.729178,403.729178
58,Uruguay,564.840540,630,65.159460,65.159460

In [0]:

y_true = merge_answer.suicides_no
y_pred = merge_answer.suicides_no_predicted


print(np.sqrt(mean_squared_error(y_true, y_pred)))

197.0929657670189